# Solution 1

In [1]:
import pandas as pd

l = [4,8,15,16,23,42]

df = pd.DataFrame(l)

In [2]:
# here is pandas series
df[0]

0     4
1     8
2    15
3    16
4    23
5    42
Name: 0, dtype: int64

In [3]:
type(df[0])

pandas.core.series.Series

# Solution 2

In [4]:
l1  = [i for i in range(1,11)]

In [5]:
data = pd.Series(l1)

In [6]:
data

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

# Solution 3

In [7]:
data1  = {'Name':['Alice','Bob','Claire'],
          'Age':[25,30,27],
          'Gender':['Female','Male','Female']
}

data2 = pd.DataFrame(data1)

In [8]:
data2

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Solution 4

## DataFrame is like 2D array.

### Difference between pandas Series ans DataFrame

### 1. Series is 1D structure but DataFrame is 2D Data Structure.
### 2. Series data is mutable but series is immutable but DataFrame data as well size both are mutable.
### 3. Series is like array repersantation but DataFrame is like table representation.

In [10]:
# Series
fruits = pd.Series(["apple","baana","orange"])
print(fruits)

0     apple
1     baana
2    orange
dtype: object

In [11]:
integer = pd.Series([1,2,3])
print(integer)

0    1
1    2
2    3
dtype: int64

In [13]:
# DataFrame
fruits_jack = ["apple","orange","banana"]
fruits_jhon = ["guavas","kiwis","strawberries"]
all_friuits = {"Jack's":fruits_jack,"John's":fruits_jhon}

new_fruits = pd.DataFrame(all_friuits)
print(new_fruits)

   Jack's        John's
0   apple        guavas
1  orange         kiwis
2  banana  strawberries

In [14]:
# creating DataFrame by using series

new_data = pd.DataFrame([fruits,integer])
print(new_data)

       0      1       2
0  apple  baana  orange
1      1      2       3

# Solution 5

## function in DataFrame by using this we can maniputalte data

### 1. read_csv() --> by using this function we can read csv file
### 2. head() --> by using this function we can read fixed no of rows from top
### 3. tail() --> by using this function we can read fixed no of rows from bottom

# Solution 6

## DataFrame

# Solution 7

In [15]:
# DataFrame
fruits_jack = ["apple","orange","banana"]
fruits_jhon = ["guavas","kiwis","strawberries"]

new_fruits = pd.DataFrame([fruits_jack,fruits_jhon])
print(new_fruits)

        0       1             2
0   apple  orange        banana
1  guavas   kiwis  strawberries